MYSQL_HOST=host.docker.internal
MYSQL_PORT=3306
MYSQL_DATABASE=originacion
MYSQL_USER=s2_readonly
MYSQL_PASSWORD=change-me
BEARER_TOKEN=replace-with-a-long-random-secret
# DATABASE_URL=mysql+pymysql://s2_readonly:password@host:3306/originacion
